
.message,
.subject {
  border: 0;
  background-color: var(--color-gainsboro-200);
  position: absolute;
  height: 54%;
  width: 81.29%;
  top: 36.4%;
  right: 9.29%;
  bottom: 9.6%;
  left: 9.43%;
  border-radius: var(--br-md);
}
.subject {
  height: 12.8%;
  width: 81.43%;
  top: 16%;
  bottom: 71.2%;
  left: 9.29%;
}
.message1,
.subject1 {
  position: absolute;
  top: 104px;
  left: 85px;
  line-height: 15px;
  font-weight: 600;
}
.message1 {
  top: 209px;
}
.send-bg {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--white);
  position: absolute;
  height: 7.2%;
  width: 16.29%;
  top: 80.4%;
  right: 11.86%;
  bottom: 12.4%;
  left: 71.86%;
  border-radius: var(--br-md);
}
.send,
.send-icon {
  position: absolute;
  top: 82.4%;
}
.send {
  left: 74%;
  letter-spacing: 0.25px;
  line-height: 14.5px;
  color: var(--color-black);
}
.send-icon {
  height: 3.2%;
  width: 2.71%;
  right: 14.71%;
  bottom: 14.4%;
  left: 82.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.your-query1 {
  position: absolute;
  top: -4px;
  left: calc(50% - 88px);
  font-size: var(--new11-size);
  line-height: 35px;
  font-weight: 900;
  color: var(--color-black);
}
.close-icon,
.your-query {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.close-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  height: 5%;
  width: 3.57%;
  top: 1.3%;
  right: 0.93%;
  bottom: 93.7%;
  left: 95.5%;
  background-image: url(../../public/closeicon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.your-query {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--white);
  width: 700px;
  height: 500px;
  text-align: right;
  font-size: var(--mobile1-size);
  color: var(--color-gray-100);
  font-family: var(--mobile1);
}
