@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.backgroundcolor2 {
  position: absolute;
  height: 100%;
  width: 100.56%;
  top: 0;
  right: -0.56%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #dfeef4, #fff);
}
.tap2doc-all-rights2 {
  position: absolute;
  bottom: 10.06px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.facebook-icon2,
.instagram-icon2,
.linkedin-icon2,
.twitter-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.instagram-icon2,
.linkedin-icon2,
.twitter-icon2 {
  left: 72px;
}
.linkedin-icon2,
.twitter-icon2 {
  left: 144px;
}
.twitter-icon2 {
  left: 216px;
}
.social-media2 {
  position: absolute;
  bottom: 0.06px;
  left: calc(50% - 85.49px);
  width: 256px;
  height: 40px;
}
.uparrow-icon2 {
  position: absolute;
  right: 0;
  bottom: 5.35px;
  width: 14px;
  height: 8.65px;
}
.support-resources2 {
  position: absolute;
  right: 23px;
  bottom: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.support-and-resources2 {
  position: absolute;
  right: -0.01px;
  bottom: 10.06px;
  width: 155px;
  height: 20px;
}
.footer2,
.logo1 {
  position: absolute;
}
.footer2 {
  bottom: 0;
  left: calc(50% - 719.49px);
  width: 1438.99px;
  height: 37.06px;
}
.logo1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 11.25%;
  top: 10px;
  right: 88.75%;
  left: 0;
  height: 46px;
  background-image: url(../../../public/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.background-99-dp,
.bg {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.bg {
  width: 100%;
  right: 0;
  border-radius: var(--br-2xl);
  background-color: var(--black);
}
.background-99-dp {
  width: calc(100% + 0.12px);
  right: -0.12px;
}
.sign-in1 {
  position: absolute;
  height: calc(100% - 16px);
  width: calc(100% - 31.88px);
  top: 8px;
  left: 16px;
  font-size: var(--normal21-size);
  letter-spacing: 0.25px;
  line-height: 36px;
  display: flex;
  font-family: var(--font-radio-canada);
  color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.icon-arrow-left,
.icon-arrow-right {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  display: none;
}
.icon-arrow-right {
  right: 5.88px;
}
.icon-arrow-left {
  left: 6px;
}
.primary {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: 0;
  width: 186.88px;
  height: 64px;
  overflow: hidden;
}
.primary:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.doctor-4-12,
.doctor1-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor-4-12 {
  top: 10.5px;
  left: 10.46px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.doctor11,
.examine1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.doctor11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor11:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.examine1 {
  left: 162px;
}
.examine1:hover,
.hospital11:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.examine1,
.hospital11,
.treatment-item {
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
}
.treatment-item {
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
.hospital11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 324px;
}
.navigation11 {
  position: relative;
  width: 394px;
  height: 70px;
  flex-shrink: 0;
}
.patient-navigation1 {
  position: absolute;
  top: 0;
  left: calc(50% - 186.62px);
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 435.81px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.navbar2 {
  position: absolute;
  width: 98.21%;
  top: 16px;
  right: 0.48%;
  left: 1.31%;
  height: 90px;
}
.guests {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.distance,
.rating {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: var(--padding-sm) var(--padding-lg);
  background-color: var(--white);
  top: 174px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rating {
  position: absolute;
  left: 58.16px;
  border-radius: var(--br-md);
}
.distance {
  left: 134.16px;
}
.distance,
.group-child14,
.speciality {
  position: absolute;
  border-radius: var(--br-md);
}
.speciality {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: var(--padding-sm) var(--padding-lg);
  background-color: var(--white);
  top: 174px;
  left: 223.16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.group-child14 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue);
}
.ellipse-icon {
  position: absolute;
  top: 6px;
  left: 123px;
  width: 10px;
  height: 10px;
}
.rectangle-parent9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.rectangle-parent10,
.rectangle-parent9 {
  position: relative;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
.group-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.frame-div,
.group-frame,
.group-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-div {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-md);
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  width: 140px;
  height: 140px;
}
.frame-container,
.frame-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-container {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-md);
}
.frame-parent {
  position: absolute;
  top: 26px;
  left: 23px;
  width: 680px;
  height: 532px;
  flex-direction: column;
  align-items: flex-end;
  gap: 56px;
}
.facilitiesavailable {
  position: absolute;
  width: 50.37%;
  top: calc(50% - 284px);
  right: 48.21%;
  left: 1.42%;
  border-radius: var(--br-md);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 624px;
  overflow: hidden;
}
.facilities {
  position: absolute;
  top: 248px;
  left: 30.16px;
  font-family: var(--font-be-vietnam-pro);
}
.chatbars-1-icon,
.map {
  position: absolute;
  right: -1px;
}
.map {
  border: 0;
  height: 72.95%;
  top: 14.21%;
  bottom: 12.84%;
  width: 621px;
  overflow: auto;
}
.chatbars-1-icon {
  top: calc(50% - 131px);
  width: 45px;
  height: 152.15px;
  object-fit: cover;
}
.facility-finder-2 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--normal5-size);
  color: var(--color-black);
  font-family: var(--font-lato);
}
