@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.backgroundcolor9 {
  position: absolute;
  height: 100%;
  width: 100.56%;
  top: 0;
  right: -0.56%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #dfeef4, #fff);
}
.tap2doc-all-rights9 {
  position: absolute;
  bottom: 9.8px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.facebook-icon9,
.instagram-icon9,
.linkedin-icon9,
.twitter-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.instagram-icon9,
.linkedin-icon9,
.twitter-icon9 {
  left: 72px;
}
.linkedin-icon9,
.twitter-icon9 {
  left: 144px;
}
.twitter-icon9 {
  left: 216px;
}
.social-media9 {
  position: absolute;
  bottom: -0.2px;
  left: calc(50% - 85.49px);
  width: 256px;
  height: 40px;
}
.uparrow-icon9 {
  position: absolute;
  right: 0;
  bottom: 5.35px;
  width: 14px;
  height: 8.65px;
}
.support-resources9 {
  position: absolute;
  right: 23px;
  bottom: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.support-and-resources9 {
  position: absolute;
  right: -0.01px;
  bottom: 9.8px;
  width: 155px;
  height: 20px;
}
.footer9,
.logo8 {
  position: absolute;
}
.footer9 {
  height: 2.98%;
  width: 88.94%;
  top: 97.02%;
  right: 5.56%;
  bottom: 0;
  left: 5.5%;
  font-family: var(--font-lato);
}
.logo8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 10.43%;
  top: 9px;
  right: 89.57%;
  left: 0;
  height: 46px;
  background-image: url(../../../public/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.background-99-dp6,
.bg6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.bg6 {
  width: 100%;
  right: 0;
  border-radius: var(--br-2xl);
  background-color: var(--black);
}
.background-99-dp6 {
  width: calc(100% + 0.11px);
  right: -0.11px;
}
.sign-in7 {
  position: absolute;
  height: calc(100% - 16px);
  width: calc(100% - 31.89px);
  top: 8px;
  left: 16px;
  font-size: var(--normal21-size);
  letter-spacing: 0.25px;
  line-height: 36px;
  display: flex;
  font-family: var(--font-radio-canada);
  color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.primary6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 11.22%;
  top: 13px;
  right: 0;
  left: 88.78%;
  height: 64px;
  overflow: hidden;
}
.primary6:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.group-child67 {
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
.doctor-4-19,
.doctor1-inner7,
.group-child67 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor-4-19 {
  top: 10.5px;
  left: 10.46px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.doctor18,
.examine8,
.hospital18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor18:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.examine8,
.hospital18 {
  left: 162px;
}
.examine8:hover,
.hospital18:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.hospital18 {
  left: 324px;
}
.navigation18 {
  position: relative;
  width: 394px;
  height: 70px;
  flex-shrink: 0;
}
.patient-navigation8 {
  position: absolute;
  width: 28.64%;
  top: 0;
  right: 36.06%;
  left: 35.3%;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.map2,
.navbar9 {
  position: absolute;
}
.navbar9 {
  width: 98.56%;
  top: 20px;
  right: 0.28%;
  left: 1.17%;
  height: 90px;
}
.map2 {
  border: 0;
  height: 50.96%;
  top: 12.24%;
  right: 77px;
  bottom: 36.8%;
  width: 709px;
  overflow: auto;
}
.chatbars-1-icon7 {
  position: absolute;
  top: calc(50% - 173px);
  right: 4px;
  width: 45px;
  height: 152.15px;
  object-fit: cover;
}
.searchhome5,
.speciality2 {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.speciality2 {
  font-weight: 800;
  font-family: var(--mobile1);
  font-size: var(--mobile1-size);
  top: 21px;
  left: 28px;
  line-height: 15px;
  color: var(--color-darkslategray-200);
  text-align: right;
  display: inline-block;
  width: 79px;
  height: 18px;
}
.searchhome5 {
  cursor: pointer;
  padding: 0;
  height: 81.67%;
  width: 8.32%;
  top: 8.33%;
  right: 1.02%;
  bottom: 10%;
  left: 90.66%;
  background-image: url(../../../public/search.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.searchhome5:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.searchbar1 {
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 589px;
  height: 60px;
  flex-shrink: 0;
}
.search2 {
  position: absolute;
  height: 4.2%;
  width: 39.27%;
  top: 34.95%;
  right: 58.14%;
  bottom: 60.85%;
  left: 2.59%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.locate-a-physician {
  position: absolute;
  top: calc(50% - 296px);
  left: 45.94px;
  font-size: var(--normal1-size);
  line-height: 52px;
  font-weight: 900;
  color: var(--color-midnightblue-200);
  display: inline-block;
  width: 376px;
}
.border-popular-searches2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-200);
  width: 1114px;
  height: 284px;
}
.popular2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.specialities3 {
  margin: 0;
}
.popular-specialities2 {
  position: absolute;
  top: 105px;
  left: 28px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 800;
}
.frame-child5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue);
  position: absolute;
  height: 100%;
  width: 20.82%;
  top: 0;
  right: 79.18%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
}
.cancer2 {
  position: absolute;
  top: 65.17%;
  left: 5.73%;
  letter-spacing: -0.02em;
  line-height: 150%;
  text-align: left;
}
.frame-child6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue);
  position: absolute;
  height: 100%;
  width: 20.82%;
  top: 0;
  right: 52.16%;
  bottom: 0;
  left: 27.02%;
  border-radius: var(--br-sm);
}
.cardio1 {
  position: absolute;
  top: 65.17%;
  left: 32.98%;
  letter-spacing: -0.02em;
  line-height: 150%;
  text-align: left;
}
.frame-child7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue);
  position: absolute;
  height: 100%;
  width: 20.82%;
  top: 0;
  right: 26.08%;
  bottom: 0;
  left: 53.1%;
  border-radius: var(--br-sm);
}
.nephro1 {
  position: absolute;
  top: 65.17%;
  left: 59.42%;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.frame-child8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-aliceblue);
  position: absolute;
  height: 100%;
  width: 20.82%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.18%;
  border-radius: var(--br-sm);
}
.migraine1 {
  position: absolute;
  top: 65.17%;
  left: 84.09%;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.frame-child9 {
  position: absolute;
  top: 0;
  left: 1050px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  width: 178px;
  height: 178px;
}
.ulcer2 {
  position: absolute;
  top: 71px;
  left: 1110px;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.frame-child10 {
  position: absolute;
  top: 0;
  left: 1281px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  width: 178px;
  height: 178px;
}
.implant2 {
  position: absolute;
  top: 71px;
  left: 1325px;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.frame-child11 {
  position: absolute;
  top: 0;
  left: 1504px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  width: 178px;
  height: 178px;
}
.surgery2 {
  position: absolute;
  top: 71px;
  left: 1549px;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.frame-child12 {
  position: absolute;
  top: 0;
  left: 1727px;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  width: 178px;
  height: 178px;
}
.neuro2 {
  position: absolute;
  top: 71px;
  left: 1781px;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.breast-cancer-1-icon1,
.headache-1-icon1,
.heart-1-icon1,
.kidney-1-icon1 {
  position: absolute;
  height: 39.33%;
  width: 8.19%;
  top: 25.84%;
  right: 31.46%;
  bottom: 34.83%;
  left: 60.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.breast-cancer-1-icon1,
.headache-1-icon1,
.heart-1-icon1 {
  right: 86.08%;
  left: 5.73%;
}
.headache-1-icon1,
.heart-1-icon1 {
  right: 6.32%;
  left: 85.5%;
}
.heart-1-icon1 {
  right: 58.95%;
  left: 32.87%;
}
.rectangle-parent28 {
  position: absolute;
  top: calc(50% - 89px);
  left: calc(50% - 1477.5px);
  width: 855px;
  height: 178px;
  overflow: hidden;
}
.property-1frame-10000008801 {
  position: absolute;
  top: 20px;
  left: 1070px;
  width: 855px;
  height: 178px;
}
.popular-specialities3 {
  position: absolute;
  top: 34px;
  left: 168.74px;
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 926.98px;
  height: 224px;
  overflow: hidden;
  text-align: center;
  font-family: var(--normal2);
}
.popular-searches3 {
  position: absolute;
  height: 25.7%;
  width: 72.15%;
  top: 68.54%;
  right: 14.83%;
  bottom: 5.76%;
  left: 13.02%;
  border-radius: var(--br-md);
  font-size: var(--normal21-size);
}
.physician-finder-1 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--normal5-size);
  color: var(--color-black);
  font-family: var(--mobile1);
}
