@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.backgroundcolor10 {
  position: absolute;
  height: 100%;
  width: 100.56%;
  top: 0;
  right: -0.56%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #dfeef4, #fff);
}
.tap2doc-all-rights10 {
  position: absolute;
  bottom: 10.06px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.facebook-icon10,
.instagram-icon10,
.linkedin-icon10,
.twitter-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.instagram-icon10,
.linkedin-icon10,
.twitter-icon10 {
  left: 72px;
}
.linkedin-icon10,
.twitter-icon10 {
  left: 144px;
}
.twitter-icon10 {
  left: 216px;
}
.social-media10 {
  position: absolute;
  bottom: 0.06px;
  left: calc(50% - 85.49px);
  width: 256px;
  height: 40px;
}
.uparrow-icon10 {
  position: absolute;
  right: 0;
  bottom: 5.35px;
  width: 14px;
  height: 8.65px;
}
.support-resources10 {
  position: absolute;
  right: 23px;
  bottom: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.support-and-resources10 {
  position: absolute;
  right: -0.01px;
  bottom: 10.06px;
  width: 155px;
  height: 20px;
}
.footer10 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 719.99px);
  width: 1438.99px;
  height: 37.06px;
}
.group-child69 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  width: 140px;
  height: 140px;
}
.group-child70,
.vector-icon12 {
  position: absolute;
  top: 6px;
  left: 123px;
  width: 10px;
  height: 10px;
}
.vector-icon12 {
  height: 76.46%;
  width: 83.33%;
  top: 12.5%;
  right: 8.33%;
  bottom: 11.04%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mdicards-heart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 18px;
  left: 120px;
  width: 15px;
  height: 15px;
}
.group-child71 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 64px;
  height: 16px;
}
.div6 {
  position: absolute;
  top: 1px;
  left: 0;
  font-size: var(--newsmall-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 900;
  font-family: var(--mobile1);
  color: var(--color-black);
  text-align: left;
}
.group-parent17 {
  position: relative;
  width: 79px;
  height: 16px;
  flex-shrink: 0;
}
.dr-patrik-container {
  position: absolute;
  top: 76px;
  left: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.group-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
}
.list-1-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
.rian-ramirez-rm7rzydl3ry-unspl-icon2 {
  position: absolute;
  top: 6px;
  left: 35px;
  border-radius: var(--br-xl);
  width: 70px;
  height: 70px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.mdicards-heart-icon8 {
  position: absolute;
  top: 21px;
  left: 120px;
  width: 15px;
  height: 15px;
}
.dr-mary-container {
  position: absolute;
  top: 76px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.list-1-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
.mdicards-heart-icon9 {
  position: absolute;
  top: 20px;
  left: 120px;
  width: 15px;
  height: 15px;
}
.dr-john-container {
  position: absolute;
  top: 76px;
  left: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.bruno-rodrigues-279xihympyy-un-icon {
  position: absolute;
  top: 6px;
  left: 35px;
  border-radius: var(--br-xl);
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.dr-rahim {
  position: relative;
  font-size: var(--newdoc-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: var(--mobile1);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.dr-rahim-parent,
.list-1 {
  display: flex;
  justify-content: flex-start;
}
.dr-rahim-parent {
  position: absolute;
  top: 79px;
  left: 28px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}
.list-1 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-md);
}
.mdicards-heart-icon11 {
  position: absolute;
  top: 18px;
  left: 120px;
  width: 15px;
  height: 15px;
}
.list-4 {
  display: none;
}
.list-1-parent {
  position: absolute;
  top: 26px;
  left: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.div18,
.dr-patrik5 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.div18 {
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: 900;
}
.group-parent42 {
  position: relative;
  width: 79px;
  height: 16px;
  flex-shrink: 0;
  font-size: var(--newsmall-size);
  color: var(--color-black);
}
.frame-wrapper6 {
  position: relative;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}
.group-parent40 {
  position: absolute;
  height: 18.03%;
  width: 89.12%;
  top: 76.23%;
  right: 7.6%;
  bottom: 5.74%;
  left: 3.28%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.doctor-list {
  position: absolute;
  height: 55.23%;
  top: 25.69%;
  bottom: 19.07%;
  left: 47px;
  border-radius: var(--br-md);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 763px;
  overflow: hidden;
  font-size: var(--newdoc-size);
  color: var(--color-darkslategray-200);
  font-family: var(--mobile1);
  overflow-y: scroll;
}
.guests3 {
  position: relative;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.rating1 {
  border: 1px solid var(--color-darkgray);
  background-color: var(--white);
  left: 72px;
  justify-content: center;
}
.availability,
.distance1,
.rating1,
.speciality3 {
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-lg);
  position: absolute;
  top: 193px;
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.availability {
  border: 1px solid var(--color-black);
  background-color: #f2f2f2;
  left: 145px;
  justify-content: flex-start;
}
.distance1,
.speciality3 {
  border: 1px solid var(--color-darkgray);
  background-color: var(--white);
  left: 247px;
  justify-content: center;
}
.speciality3 {
  left: 336px;
}
.doctors {
  position: absolute;
  top: 286px;
  left: 47px;
  font-family: var(--font-be-vietnam-pro);
  text-align: right;
}
.image-141,
.logo9,
.map3 {
  border: 0;
  position: absolute;
}
.map3 {
  height: 72.32%;
  top: 12.35%;
  bottom: 15.33%;
  left: calc(50% + 63px);
  width: 730px;
  overflow: auto;
}
.image-141,
.logo9 {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  width: 5.04%;
  top: 15px;
  right: 0;
  left: 94.96%;
  height: 60px;
  background-image: url(../../../public/usericon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image-141:hover {
  animation: 1s ease 0s 2 normal none jello-horizontal;
  opacity: 1;
}
.logo9 {
  width: 10.25%;
  right: 89.75%;
  left: 0;
  height: 46px;
  background-image: url(../../../public/logo.png);
}
.group-child117 {
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
.doctor-4-110,
.doctor1-inner8,
.group-child117 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor-4-110 {
  top: 10.5px;
  left: 10.46px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.doctor19,
.examine9,
.hospital19 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor19:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.examine9,
.hospital19 {
  left: 162px;
}
.examine9:hover,
.hospital19:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.hospital19 {
  left: 324px;
}
.navigation19 {
  position: relative;
  width: 394px;
  height: 70px;
  flex-shrink: 0;
}
.patient-navigation9 {
  position: absolute;
  width: 28.15%;
  top: 0;
  right: 35.41%;
  left: 36.43%;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.navbar10 {
  position: absolute;
  width: 96.69%;
  top: 9px;
  right: 2.12%;
  left: 1.19%;
  height: 90px;
}
.physician-finder-2 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1350px;
  overflow: hidden;
  text-align: left;
  font-size: var(--normal5-size);
  color: var(--color-black);
  font-family: var(--font-lato);
}
