@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.background-signin,
.login-button-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
}
.background-signin {
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 786px;
  height: 876px;
}
.login-button-item {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-mediumblue);
}
.login-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 7.99%;
  width: 85.11%;
  top: 50.68%;
  right: 7.76%;
  bottom: 41.32%;
  left: 7.12%;
}
.login-button1:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.signin-1-child {
  position: absolute;
  height: 14.73%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 85.27%;
  left: 0;
  border-radius: var(--br-lg) var(--br-lg) 0 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.login-or-signup1,
.welcome-to-tap2doc1 {
  position: absolute;
  letter-spacing: -0.02em;
  line-height: 32px;
  color: var(--color-black);
}
.login-or-signup1 {
  height: 3.65%;
  width: 21.12%;
  top: 5.14%;
  left: 37.53%;
  font-size: var(--normal21-size);
  display: inline-block;
}
.welcome-to-tap2doc1 {
  top: 18.26%;
  left: 7.12%;
  font-size: var(--normal1-size);
  font-weight: 500;
}
.phone-number-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-whitesmoke-100);
}
.country,
.phone-number {
  position: absolute;
  height: 7.99%;
  width: 85.11%;
  top: 38.47%;
  right: 7.76%;
  bottom: 53.54%;
  left: 7.12%;
}
.country {
  top: 26.14%;
  right: 7.51%;
  bottom: 65.87%;
  left: 7.38%;
}
.france-icon {
  position: absolute;
  top: 260px;
  left: 93px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.france {
  position: absolute;
  top: 30.14%;
  left: 17.94%;
  font-size: var(--font-size-2xl);
  line-height: 125%;
  font-family: var(--text-xs-regular);
  color: var(--color-black);
  text-align: left;
}
.countryregion {
  position: absolute;
  top: 26.48%;
  left: 10.31%;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 300;
  color: var(--color-gray-100);
}
.login2 {
  top: 463px;
  left: 361px;
  font-size: var(--normal21-size);
  color: var(--white);
}
.apple,
.email2,
.facebook,
.google,
.login2,
.or-continue-with {
  position: absolute;
  letter-spacing: -0.02em;
  line-height: 32px;
}
.or-continue-with {
  top: 63.93%;
  left: 38.55%;
  font-size: var(--normal21-size);
}
.apple,
.email2,
.facebook,
.google {
  top: 84.36%;
  left: 12.85%;
}
.apple,
.email2,
.facebook {
  left: 34.22%;
}
.apple,
.email2 {
  left: 58.52%;
}
.apple {
  top: 83.9%;
  left: 81.3%;
}
.apple-icon,
.drop-down-icon,
.email-icon,
.fb-icon,
.google-icon {
  position: absolute;
  height: 6.85%;
  width: 7.63%;
  top: 76.94%;
  right: 12.47%;
  bottom: 16.21%;
  left: 79.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.drop-down-icon,
.email-icon,
.fb-icon,
.google-icon {
  right: 57.51%;
  left: 34.86%;
}
.drop-down-icon,
.email-icon,
.google-icon {
  top: 77.05%;
  right: 80.03%;
  bottom: 16.1%;
  left: 12.34%;
}
.drop-down-icon,
.email-icon {
  right: 34.99%;
  left: 57.38%;
}
.drop-down-icon {
  height: 4.34%;
  width: 3.94%;
  top: 27.74%;
  right: 10.56%;
  bottom: 67.92%;
  left: 85.5%;
}
.div22,
.div23 {
  position: absolute;
  top: 41.21%;
  left: 10.31%;
  font-size: var(--font-size-2xl);
  line-height: 125%;
  font-family: var(--text-xs-regular);
  color: var(--color-black);
  text-align: left;
}
.div23 {
  left: 18.19%;
  color: var(--color-gray-200);
}
.signin-1-item {
  position: absolute;
  top: 358.5px;
  left: 128.5px;
  border-right: 1px solid #d8dadc;
  box-sizing: border-box;
  width: 1px;
  height: 27px;
}
.signin-1 {
  position: relative;
  width: 786px;
  height: 876px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--mobile1-size);
  color: var(--color-dimgray);
  font-family: var(--font-radio-canada);
}
