@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.backgroundcolor5 {
  position: absolute;
  height: 100%;
  width: 100.56%;
  top: 0;
  right: -0.56%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #dfeef4, #fff);
}
.tap2doc-all-rights5 {
  position: absolute;
  bottom: 10.06px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.facebook-icon5,
.instagram-icon5,
.linkedin-icon5,
.twitter-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.instagram-icon5,
.linkedin-icon5,
.twitter-icon5 {
  left: 72px;
}
.linkedin-icon5,
.twitter-icon5 {
  left: 144px;
}
.twitter-icon5 {
  left: 216px;
}
.social-media5 {
  position: absolute;
  bottom: 0.06px;
  left: calc(50% - 85.49px);
  width: 256px;
  height: 40px;
}
.uparrow-icon5 {
  position: absolute;
  right: 0;
  bottom: 5.35px;
  width: 14px;
  height: 8.65px;
}
.support-resources5 {
  position: absolute;
  right: 23px;
  bottom: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.support-and-resources5 {
  position: absolute;
  right: -0.01px;
  bottom: 10.06px;
  width: 155px;
  height: 20px;
}
.footer5 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 719.99px);
  width: 1438.99px;
  height: 37.06px;
  font-family: var(--font-lato);
}
.chatbars-1-icon3 {
  position: absolute;
  top: calc(50% - 149px);
  right: 0;
  width: 45px;
  height: 152.15px;
  object-fit: cover;
}
.logo4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 9.96%;
  top: 10px;
  right: 90.04%;
  left: 0;
  height: 46px;
  background-image: url(../../../public/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.background-99-dp3,
.bg3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.bg3 {
  width: 100%;
  right: 0;
  border-radius: var(--br-2xl);
  background-color: var(--black);
}
.background-99-dp3 {
  width: calc(100% + 0.45px);
  right: -0.45px;
}
.sign-in4 {
  position: absolute;
  height: calc(100% - 16px);
  width: calc(100% - 31.55px);
  top: 8px;
  left: 16px;
  font-size: var(--normal21-size);
  letter-spacing: 0.25px;
  line-height: 36px;
  display: flex;
  font-family: var(--font-radio-canada);
  color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.icon-arrow-left3,
.icon-arrow-right3 {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  display: none;
}
.icon-arrow-right3 {
  right: 5.55px;
}
.icon-arrow-left3 {
  left: 6px;
}
.primary3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 10.89%;
  top: 7px;
  right: 0;
  left: 89.11%;
  height: 64px;
  overflow: hidden;
}
.primary3:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.group-child59 {
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
.doctor-4-15,
.doctor1-inner3,
.group-child59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor-4-15 {
  top: 10.5px;
  left: 10.46px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.doctor14,
.examine4,
.hospital14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor14:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.examine4,
.hospital14 {
  left: 162px;
}
.examine4:hover,
.hospital14:hover,
.next-button:hover,
.previous-button:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.hospital14 {
  left: 324px;
}
.navigation14 {
  position: relative;
  width: 394px;
  height: 70px;
  flex-shrink: 0;
}
.patient-navigation4 {
  position: absolute;
  width: 27.35%;
  top: 0;
  right: 34.86%;
  left: 37.79%;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.navbar5 {
  position: absolute;
  width: 98.37%;
  top: 15px;
  right: 0.64%;
  left: 0.99%;
  height: 90px;
}
.border-additional-symptoms {
  position: absolute;
  height: 68.45%;
  width: 84.38%;
  top: 16.38%;
  right: 7.61%;
  bottom: 15.17%;
  left: 8.02%;
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.health-assessment-3-child,
.health-assessment-3-item {
  position: absolute;
  left: 13.32%;
  border-radius: var(--br-sm);
}
.health-assessment-3-child {
  height: 1.29%;
  width: 72.21%;
  top: 22.07%;
  right: 14.47%;
  bottom: 76.64%;
  background: linear-gradient(#fff, #fff), #7b7b7b;
}
.health-assessment-3-item {
  width: 58.83%;
  top: 256px;
  right: 27.85%;
  background: linear-gradient(#2934ff, #2934ff), #7b7b7b;
  height: 15px;
}
.previous-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-midnightblue-100);
}
.previous {
  position: absolute;
  height: 72%;
  width: 64.67%;
  top: 14%;
  left: 18%;
  font-size: var(--normal21-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: var(--normal2);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-icon6 {
  position: absolute;
  height: 24%;
  width: 4%;
  top: 38%;
  right: 92.67%;
  bottom: 38%;
  left: 3.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.previous-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 4.41%;
  width: 10.48%;
  top: 75.26%;
  right: 77.49%;
  bottom: 20.33%;
  left: 12.02%;
}
.next {
  position: absolute;
  height: 72%;
  width: 34%;
  top: 14%;
  left: 33.33%;
  font-size: var(--normal21-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: var(--normal2);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-icon7 {
  position: absolute;
  height: 24%;
  width: 4%;
  top: 38%;
  right: 6%;
  bottom: 38%;
  left: 90%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.next-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 4.41%;
  width: 10.48%;
  top: 75.26%;
  right: 12.48%;
  bottom: 20.33%;
  left: 77.04%;
}
.likely-medical-conditions {
  position: absolute;
  top: 0;
  left: 1.15px;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: inline-block;
  width: 328.59px;
}
.medicalconditions-child,
.medicalconditions-child1,
.medicalconditions-child2,
.medicalconditions-inner,
.medicalconditions-item {
  position: absolute;
  height: 12.24%;
  width: 100%;
  top: 25.36%;
  right: 0;
  bottom: 62.39%;
  left: 0;
  background-color: var(--color-gainsboro-200);
}
.medicalconditions-child1,
.medicalconditions-child2,
.medicalconditions-inner,
.medicalconditions-item {
  top: 40.82%;
  bottom: 46.94%;
}
.medicalconditions-child1,
.medicalconditions-child2,
.medicalconditions-inner {
  top: 56.56%;
  bottom: 31.2%;
}
.medicalconditions-child1,
.medicalconditions-child2 {
  top: 72.01%;
  bottom: 15.74%;
}
.medicalconditions-child2 {
  top: 87.76%;
  bottom: 0;
}
.flag-icon,
.flag-icon1 {
  position: absolute;
  height: 5.75%;
  width: 3.71%;
  top: 29.23%;
  right: 2.46%;
  bottom: 65.01%;
  left: 93.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flag-icon1 {
  top: 75.29%;
  bottom: 18.95%;
}
.medicalconditions {
  align-self: stretch;
  position: relative;
  height: 343px;
  flex-shrink: 0;
}
.medical-conditions-border {
  position: absolute;
  height: 36.98%;
  width: 33.42%;
  top: 34.66%;
  right: 11.14%;
  bottom: 28.36%;
  left: 55.43%;
  border-radius: var(--br-md);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--normal21-size);
}
.added-symtoms-child,
.added-symtoms-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-200);
}
.added-symtoms-item {
  height: 18.53%;
  bottom: 81.47%;
  border-radius: var(--br-md) var(--br-md) 0 0;
  background-color: var(--white);
}
.symptoms-added {
  position: absolute;
  height: 4.79%;
  width: 29.66%;
  top: 6.71%;
  left: 32.13%;
  font-size: var(--mobile1-size);
  line-height: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chest-pain,
.moderate-to-severe,
.symptoms-lasting-for,
.times-a-day {
  position: absolute;
  height: 4.79%;
  line-height: 15px;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.chest-pain {
  width: 15.28%;
  top: 34.19%;
  left: 6.52%;
  justify-content: center;
}
.moderate-to-severe,
.symptoms-lasting-for,
.times-a-day {
  width: 37.62%;
}
.symptoms-lasting-for {
  top: 42.81%;
  left: 6.52%;
  justify-content: center;
}
.moderate-to-severe,
.times-a-day {
  top: 51.44%;
  left: 7.08%;
  text-align: left;
}
.moderate-to-severe {
  top: 59.74%;
}
.bin-icon,
.bin-icon1,
.image-414-icon,
.image-417-icon {
  position: absolute;
  height: 8.63%;
  width: 4.84%;
  top: 33.23%;
  right: 26.82%;
  bottom: 58.15%;
  left: 68.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bin-icon,
.bin-icon1,
.image-417-icon {
  top: 41.21%;
  bottom: 50.16%;
}
.bin-icon1,
.image-417-icon {
  top: 49.84%;
  bottom: 41.53%;
}
.image-417-icon {
  top: 57.83%;
  bottom: 33.55%;
}
.added-symtoms {
  position: absolute;
  height: 27.62%;
  width: 37.52%;
  top: 43.71%;
  right: 50.25%;
  bottom: 28.67%;
  left: 12.23%;
  text-align: center;
  font-family: var(--mobile1);
}
.additional-symptoms {
  position: absolute;
  top: 331px;
  left: 180px;
  font-size: var(--normal21-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  height: 37px;
}
.symptoms1 {
  position: absolute;
  top: 21px;
  left: 28px;
  line-height: 15px;
  font-weight: 800;
  display: inline-block;
  width: 84px;
  height: 18px;
}
.searchhome2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 81.71%;
  width: 9.15%;
  top: 8.34%;
  right: 1.71%;
  bottom: 9.95%;
  left: 89.14%;
  background-image: url(../../../public/search.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.searchhome2:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.symtoms1 {
  position: absolute;
  height: 5.34%;
  width: 37.9%;
  top: 33.75%;
  right: 50.11%;
  bottom: 60.91%;
  left: 11.99%;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--mobile1-size);
  color: var(--color-darkslategray-200);
  font-family: var(--mobile1);
}
.health-assessment-3 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1160px;
  overflow: hidden;
  text-align: left;
  font-size: var(--normal5-size);
  color: var(--color-black);
  font-family: var(--normal2);
}
