@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.backgroundcolor7 {
  position: absolute;
  height: 100%;
  width: 100.56%;
  top: 0;
  right: -0.56%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #dfeef4, #fff);
}
.tap2doc-all-rights7 {
  position: absolute;
  bottom: 10.06px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.facebook-icon7,
.instagram-icon7,
.linkedin-icon7,
.twitter-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.instagram-icon7,
.linkedin-icon7,
.twitter-icon7 {
  left: 72px;
}
.linkedin-icon7,
.twitter-icon7 {
  left: 144px;
}
.twitter-icon7 {
  left: 216px;
}
.social-media7 {
  position: absolute;
  bottom: 0.06px;
  left: calc(50% - 85.49px);
  width: 256px;
  height: 40px;
}
.uparrow-icon7 {
  position: absolute;
  right: 13.01px;
  bottom: 5.35px;
  width: 0.99px;
  height: 8.65px;
}
.support-resources7 {
  position: absolute;
  right: 23px;
  bottom: 0;
  letter-spacing: 0.01em;
  line-height: 20px;
  text-transform: capitalize;
}
.support-and-resources7 {
  position: absolute;
  right: -0.01px;
  bottom: 10.06px;
  width: 155px;
  height: 20px;
}
.footer7,
.logo6 {
  position: absolute;
}
.footer7 {
  bottom: 0;
  left: calc(50% - 719.99px);
  width: 1438.99px;
  height: 37.06px;
  text-align: left;
  font-size: var(--normal5-size);
  font-family: var(--font-lato);
}
.logo6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 13.21%;
  top: 0;
  right: 86.79%;
  left: 0;
  height: 46px;
  background-image: url(../../../public/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.background-99-dp5,
.bg5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.bg5 {
  width: 100%;
  right: 0;
  border-radius: var(--br-2xl);
  background-color: var(--black);
}
.background-99-dp5 {
  width: calc(100% - 0.47px);
  right: 0.47px;
}
.sign-in6 {
  position: absolute;
  height: calc(100% - 16px);
  width: calc(100% - 32.47px);
  top: 8px;
  left: 16px;
  font-size: var(--normal21-size);
  letter-spacing: 0.25px;
  line-height: 36px;
  display: flex;
  font-family: var(--font-radio-canada);
  color: var(--white);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.icon-arrow-left5,
.icon-arrow-right5 {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  display: none;
}
.icon-arrow-right5 {
  right: 6.47px;
}
.icon-arrow-left5 {
  left: 6px;
}
.primary5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 14.21%;
  top: 2px;
  right: 0;
  left: 85.79%;
  height: 64px;
  overflow: hidden;
}
.primary5:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.group-child63 {
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}
.doctor-4-17,
.doctor1-inner5,
.group-child63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor-4-17 {
  top: 10.5px;
  left: 10.46px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.doctor16,
.examine6,
.hospital16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.doctor16:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.examine6,
.hospital16 {
  left: 162px;
}
.examine6:hover,
.hospital16:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.hospital16 {
  left: 324px;
}
.navigation16 {
  position: relative;
  width: 394px;
  height: 70px;
  flex-shrink: 0;
}
.patient-navigation6 {
  position: absolute;
  width: 36.27%;
  top: 2px;
  right: 30.02%;
  left: 33.71%;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.navbar7 {
  position: absolute;
  width: 98.93%;
  top: 18px;
  right: 0.35%;
  left: 0.72%;
  height: 92px;
}
.health-assessment {
  position: absolute;
  top: 15.84%;
  left: 10.84%;
  font-size: var(--normal1-size);
  line-height: 52px;
  font-weight: 900;
}
.chatbars-1-icon5 {
  position: absolute;
  top: calc(50% - 123px);
  right: 4px;
  width: 45px;
  height: 152.15px;
  object-fit: cover;
}
.border-additional-symptoms2 {
  position: absolute;
  height: 66.21%;
  width: 79.19%;
  top: 22.07%;
  right: 10.34%;
  bottom: 11.72%;
  left: 10.47%;
  border-radius: var(--br-md);
  background-color: var(--color-aliceblue);
}
.interactive-mode3 {
  position: absolute;
  top: 7px;
  left: 13px;
  font-size: var(--text-xs-regular-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  font-family: var(--font-radio-canada);
  color: var(--white);
  text-align: right;
}
.interactive-mode2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-midnightblue-100);
  position: absolute;
  height: 2.87%;
  width: 8.8%;
  top: 45.52%;
  right: 63.4%;
  bottom: 51.62%;
  left: 27.79%;
  border-radius: var(--br-lg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.interactive-mode2:hover {
  animation: 1s ease 0s infinite normal none fade-in;
  opacity: 1;
}
.what-brings-you1 {
  position: absolute;
  top: calc(50% - 203.79px);
  left: 204.19px;
  font-size: var(--normal21-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: var(--normal2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 303.29px;
  height: 38.6px;
}
.health-assessment-1-child,
.progress-bar6 {
  position: absolute;
  top: calc(50% - 262px);
  border-radius: var(--br-sm);
  height: 15px;
}
.progress-bar6 {
  width: 71.98%;
  right: 14.5%;
  left: 13.52%;
  background: linear-gradient(#fff, #fff), #7b7b7b;
}
.health-assessment-1-child {
  left: 198.67px;
  background: linear-gradient(#2934ff, #2934ff), #7b7b7b;
  width: 292.95px;
}
.detailed-view,
.refresh {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 49.62px);
  left: calc(50% - 24.39px);
  width: 48.78px;
  height: 43.87px;
  background-image: url(../../../public/Refresh.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.detailed-view {
  top: calc(50% + 7.83px);
  height: 41.78px;
  background-image: url(../../../public/Detail.png);
}
.detailed-refresh-buttons {
  position: absolute;
  top: calc(50% - 176.59px);
  left: calc(50% + 454.64px);
  width: 48.78px;
  height: 99.23px;
}
.add-your-symptoms-child,
.add-your-symptoms-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-honeydew-200);
}
.add-your-symptoms-item {
  height: 18.53%;
  bottom: 81.47%;
  border-radius: var(--br-md) var(--br-md) 0 0;
  background-color: var(--white);
}
.knee-pain,
.symptoms-added3 {
  position: absolute;
  height: 4.79%;
  width: 29.66%;
  top: 6.71%;
  left: 32.13%;
  line-height: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.knee-pain {
  width: 15.28%;
  top: 34.19%;
  left: 6.52%;
  font-size: var(--normal5-size);
  font-weight: 800;
}
.image-414-icon1 {
  position: absolute;
  height: 8.63%;
  width: 3.13%;
  top: 30.35%;
  right: 31.15%;
  bottom: 61.02%;
  left: 65.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.add-your-symptoms {
  position: absolute;
  height: 28.93%;
  width: 36.93%;
  top: 50.95%;
  right: 47.84%;
  bottom: 20.12%;
  left: 15.23%;
}
.human-body-1,
.humanbody {
  position: absolute;
  width: 240.49px;
  height: 524px;
}
.human-body-1 {
  top: calc(50% - 262px);
  left: calc(50% - 120.25px);
  object-fit: cover;
}
.humanbody {
  top: calc(50% - 189px);
  left: calc(50% + 152px);
}
.symptoms3 {
  position: absolute;
  top: 21px;
  left: 28px;
  line-height: 15px;
  font-weight: 800;
  display: inline-block;
  width: 84px;
  height: 18px;
}
.searchhome4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 79.94%;
  width: 9.07%;
  top: 9.71%;
  right: 2.22%;
  bottom: 10.35%;
  left: 88.7%;
  background-image: url(../../../public/search.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.searchhome4:hover {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.symptoms-parent {
  position: absolute;
  height: 5.54%;
  width: 37.35%;
  top: 37.56%;
  right: 49%;
  bottom: 56.89%;
  left: 13.65%;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid var(--color-gray-200);
  box-sizing: border-box;
  text-align: right;
  color: var(--color-darkslategray-200);
}
.next-button-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-midnightblue-100);
}
.next3 {
  position: absolute;
  height: 75%;
  width: 43.2%;
  top: 7.5%;
  left: 28.8%;
  font-size: var(--test6-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 900;
  font-family: var(--mobile1);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-icon10 {
  position: absolute;
  height: 30%;
  width: 4%;
  top: 35%;
  right: 6%;
  bottom: 35%;
  left: 90%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.next-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.7%;
  width: 8.6%;
  top: 81.98%;
  right: 12.34%;
  bottom: 14.32%;
  left: 79.06%;
}
.next-button1:hover,
.previous-buttons:hover {
  animation: 1s ease 0s 2 normal none pulsate;
  opacity: 1;
}
.previous3 {
  position: absolute;
  height: 75%;
  width: 78.4%;
  top: 7.5%;
  left: 13.6%;
  font-size: var(--test6-size);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 900;
  font-family: var(--mobile1);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vector-icon11 {
  position: absolute;
  height: 30%;
  width: 4%;
  top: 35%;
  right: 91.87%;
  bottom: 35%;
  left: 4.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.previous-buttons {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 3.7%;
  width: 8.6%;
  top: 81.98%;
  right: 78.78%;
  bottom: 14.32%;
  left: 12.63%;
}
.health-assessment-1 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: center;
  font-size: var(--mobile1-size);
  color: var(--color-black);
  font-family: var(--mobile1);
}
