@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --mobile1: Mulish;
  --font-podkova: Podkova;
  --font-lato: Lato;
  --text-xs-regular: Inter;
  --font-radio-canada: "Radio Canada";
  --font-be-vietnam-pro: "Be Vietnam Pro";
  --font-roboto: Roboto;
  --normal2: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --newsmall-size: 10px;
  --newdoc-size: 11px;
  --text-xs-regular-size: 12px;
  --new22-size: 13px;
  --normal5-size: 14px;
  --font-size-lg: 15px;
  --mobile1-size: 16px;
  --font-size-2xl: 17px;
  --test6-size: 20px;
  --normal21-size: 24px;
  --new11-size: 32px;
  --normal1-size: 40px;
  --heading-size: 64px;

  /* Colors */
  --white: #fff;
  --color-navy: #000080;
  --color-gray-100: #7b7b7b;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --coolgray-700: #374151;
  --color-darkslategray-200: #333;
  --black: #2d3436;
  --color-black: #000;
  --color-aliceblue: #dfeef4;
  --color-honeydew-100: #e0fee8;
  --color-honeydew-200: #c2edce;
  --color-midnightblue-100: #371777;
  --color-midnightblue-200: #211572;
  --black-200: #ddd;
  --color-gainsboro-200: #d9d9d9;
  --color-dimgray: #676767;
  --color-whitesmoke-100: #f6f6f2;
  --color-mediumblue: #2934ff;
  --color-darkgray: #a1a1a1;
  --color-blueviolet: #9747ff;
  --color-mediumspringgreen: #15eda3;
  --coolgray-300: #d1d5db;
  --coolgray-500: #6b7280;
  --color-red: #ff0000;

  /* Gaps */
  --gap-xs: 1px;
  --gap-sm: 16px;
  --gap-md: 40px;
  --gap-lg: 50px;

  /* Paddings */
  --padding-2xs: 4px;
  --padding-xs: 8px;
  --padding-sm: 9px;
  --padding-md: 10px;
  --padding-lg: 13px;
  --padding-xl: 16px;
  --padding-2xl: 20px;

  /* border radiuses */
  --br-2xs: 4px;
  --br-xs: 5px;
  --br-sm: 10px;
  --br-md: 20px;
  --br-lg: 40px;
  --br-xl: 100px;
  --br-2xl: 999px;

  /* Effects */
  --dp-dark-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}
