@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --normal2: Mulish;
  --font-podkova: Podkova;
  --font-lato: Lato;

  /* font sizes */
  --new22-size: 13px;
  --font-size-2xs: 14px;
  --text-web-size: 16px;
  --font-size-sm: 20px;
  --normal2-size: 24px;
  --heading-size: 64px;

  /* Colors */
  --color-white: #fff;
  --color-navy: #000080;
  --color-black: #000;
  --color-aliceblue: #dfeef4;
  --color-midnightblue: #211572;
  --black-200: #ddd;
  --color-dimgray: #676767;

  /* Paddings */
  --padding-md: 4px;

  /* border radiuses */
  --br-sm: 10px;
  --br-md: 20px;
  --br-lg: 40px;

  /* Effects */
  --dp-dark-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}
